body {
    margin: 40px;
    width: 80%;
    justify-self: center;
    background-color: #FFFFFF;
    font-family: "Sour Gummy", sans-serif;
}

h1 {
    margin: 0px;
    font-size: 2.5em;
    line-height: 1;
    color: #0B1957;
}

h2 {
    margin-top: 0px;
    margin-bottom: -15px;
    color: #0B1957;
}

ul {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

a {
    color: #426BC2
}

.container {
    margin: 30px 0px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F4F2F0;
}

.container:hover {
    background-color: #E9F3FF;
}